<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="scripts/underscore.js"></script>
    <script type="text/javascript" src="scripts/backbone.js"></script>
    <script type="text/javascript" src="scripts/service.js"></script>
    <script type="text/javascript" src="scripts/application.js"></script>
  </head>
  <body>

    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text">Connection status: <span id="status" class="badge">initializing</span></p>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <div id="log-channels" class="list-group">
            </div>
        </div>
        <div id="log-records" class="col-md-8">
        </div>
      </div>
    </div>


    <script id="log-channel-tpl" type="text/template">
            <span class="glyphicon glyphicon-ok-sign"></span>
            <%=name%>
            <span class="badge"><%=numLogRecords%></span>

    </script>

    <script id="log-record-tpl" type="text/template">
      <div class="logrecord panel panel-default">
        <div class="panel-heading">
          <span class="logrecord-levelname"><%=levelname%></span>
          &nbsp;
          <span class="logrecord-message"><%=message%></span>
          &nbsp;-&nbsp;
          <time class="logrecord-created" datetime="<%=created%>"><%=created%></time>
          <div class="pull-right">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </div>
        </div>
        <div class="panel-body" style="display:none">
          <dl class="dl-horizontal">
            <dt>module</dt>
            <dd><%-module%></dd>
            <dt>filename</dt>
            <dd><%-filename%></dd>
            <dt>lineno</dt>
            <dd><%-lineno%></dd>
            <dt>funcname</dt>
            <dd><%-funcName%></dd>
          </dl>
          <% if (exc_text) { %>
          <pre><%-exc_text%></pre>
          <% } %>
        </div>
      </div>
    </script>

  </body>
</html>
